<script type="text/javascript" src="https://unpkg.com/grimoirejs-preset-basic@1.9.4/register/grimoire-preset-basic.js"></script>
<div id="primary">
  <nav id="menu-wrap">
    <ul id="menu">
      <li>
        <a id="menu-logo-wrap" href="<%- url_for('/') %>">
          <div id="menu-logo-icon"></div>
          <div id="menu-logo-font"></div>
        </a>
      </li>
      <%- partial('_partial/menu') %>
    </ul>
  </nav>
  <div id="logo-icon"></div>
  <h1 id="logo-font">Grimoire.js</h1>
  <h2 id="logo-desc">A WebGL framework for web development</h2>
  <div id="logo-sub-desc">Grimoire.js gives you WebGL representation in modern web development flow, minimal codes, very easy and effective and production level.</div>
  <div id="social">
    <div class="demo"><a href="http://jsdo.it/tag/Grimoire.js"><i class="fa fa-asterisk" aria-hidden="true"></i><span>See how it works</span></a></div>
    <div class="slack"><a href="https://grimoire-slackin.herokuapp.com/"><i class="fa fa-comments" aria-hidden="true"></i><span>Join to Slack</span></a></div>
    <div class="github"><a href="https://github.com/GrimoireGL/GrimoireJS"><i class="fa fa-github-alt" aria-hidden="true"></i><span>Open source</span></a></div>
  </div>
  <div id="primary-buttons">
    <div class="install">
      <a href="<%- url_for('/guide/1_essentials/01_installation.html') %>">Install Latest</a>
    </div>
    <div class="start">
      <a href="<%- url_for('/guide/1_essentials/02_introduction.html') %>">Getting Started</a>
    </div>
  </div>
  <div id="bg">
    <script type="text/goml" src="gr/index.goml"></script>
  </div>
</div>
<div id="description">
  <div class="front">
    <h2 class="title">Grimoire.js acts as the bridge between WEB and CG.</h2>
    <div class="content">WebGL development is typically hard due to the profound differences of the development flow between CG and WEB.</div>
  </div>
  <div class="small">
    <ul>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-htmllike"></span></div>
          <h3 class="title">WEB side</h3>
          <div class="content">Grimoire.js provides a <strong>HTML-like markup to describe the scenes</strong> and <strong>DOM-like operation APIs</strong> to handle it. Web engineers will no longer take the cares of the graphics staff such as render loop, 3D mathmatics.</div>
        </div>
      </li>
      <li class="center">
        <div class="plus">+</div>
      </li>
      <li>
        <div class="container">
          <div class="icon"><span class="icon-component"></span></div>
          <h3 class="title">CG side</h3>
          <div class="content">Grimoire.js provides a <strong>component system with APIs like Unity</strong>. CG engineers could focus on shader stuff to visualize better or complex graphics algorithm.</div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="examples">
  <div class="container" id="image360">
    <script class="canvas" type="text/goml" src="gr/360-image/index.goml"></script>
    <script src="gr/360-image/main.js"></script>
    <div class="code-container">
      <pre>
        <code class="xml"><%= partial('_example/360-image.goml.ejs') %></code>
        <div class="label">GOML</div>
      </pre>
      <pre>
        <code class="js"><%= partial('_example/360-image.js.ejs') %></code>
        <div class="label">JavaScript</div>
      </pre>
    </div>
  </div>
  <link rel="stylesheet" href="js/highlight/tomorrow-night.css">
  <script src="js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</div>
<%- partial('_partial/contributor') %>
<div id="footer">
  <a id="get-started-button" href="<%- url_for('/guide/1_essentials/02_introduction.html') %>">Getting Started</a>
  <div id="footer-text">
    <div id="licence">Released under the <a href="<%- url_for('//opensource.org/licenses/MIT') %>">MIT License</a></div>
    <div id="copyright">Copyright (c) 2016 GrimoireGL</div>
  </div>
</div>
<script type="text/javascript">
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
